.footer-assessment {
  background-color: #1f2937;
  color: white;
  padding: 20px 0;
  padding-top: 80px;
}

.footer-container-assessment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer-left-assessment {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.footer-logo-assessment {
  font-size: 24px;
}

.footer-brand-assessment {
  font-size: 16px;
  font-weight: bold;
}

.footer-link-assessment p{
    text-align: end;
    padding-top: 10px;
}

.footer-links-assessment {
  display: flex;
  gap: 20px;
}

.footer-links-assessment a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-rights-assessment {
  font-size: 12px;
  color: #b0b3b8;
}

.footer-social-assessment {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.footer-social-assessment svg {
  cursor: pointer;
  transition: 0.3s;
}

.footer-social-assessment svg:hover {
  color: #00b8a9;
}

@media (max-width: 768px) {
  .footer-container-assessment {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
